* {
  box-sizing: border-box;
}

.container {
  border: 2px solid #ff0000;
  margin-top: 16px;
  height: 114px;
}

.centred {
  width: 180px;
  margin: 0 auto;
}

.float-container {
  border: 2px solid #ff0000;
  margin-top: 16px;
  height: 54px;
}

.block {
  width: 80px;
  min-height: 50px;
  background-color: #000;
  color: white;
  text-align: center;
  padding-top: 14px;
}

.block2 {
  float: right;
  margin-top: -50px;
}

.block4 {
  float: right;
  margin-top: -50px;
}

.block5 {
  float: right;
  margin-top: -50px;
  margin-right: 100px;
}

.block6 {
  float: right;
  margin-top: -50px;
  margin-right: 200px;
}

.block8 {
  float: left;
  margin-top: -50px;
  margin-left: 100px;
}

.block9 {
  float: right;
  margin-top: -50px;
  margin-right: 100px;
}

.block10 {
  float: right;
  margin-top: -50px;
}

.block11 {
  float: right;
  margin-top: 60px;
}

.block12 {
  float: right;
  margin-right: -80px;
}

.block13 {
  min-height: 110px;
  float: right;
  margin-right: 20px;
}

.block14 {
  float: right;
  margin-top: 60px;
  margin-right: -20px;
}

.block15 {
  float: right;
  margin-right: -80px;
}

.block16 {
  min-height: 110px;
  float: right;
  margin-right: 20px;
}
